<div class="ng-cloak dataTables_paginate paging_bootstrap">
    <div ng-if="params.settings().counts.length" class="pull-right">
        <select class="height-32px" ng-init="params.settings().count" ng-model="params.settings().count" ng-options="c for c in params.settings().counts" ng-change="params.count(params.settings().count)"></select>
    </div>
    <ul class="pagination">
        <li ng-class="{ disabled : params.page() === 1 }" ng-if="lastpage > 5"  title="Về đầu trang" class="hidden-768">
            <a ng-click="params.page(1)"><i class="icon-double-angle-left smaller-90"></i></a>
        </li>
        <li ng-class="{\'disabled\': !page.active, \'active\': params.page() === page.number && (page.type !== \'prev\' && page.type !== \'next\')}" ng-repeat="page in pages" ng-switch="page.type">

            <a ng-switch-when="prev" ng-click="params.page(page.number)"><i class="fa fa-angle-left"></i></a>
            <a ng-switch-when="first" ng-click="params.page(page.number)">{{page.number}}</a>
            <a ng-switch-when="page" ng-click="params.page(page.number)">{{page.number}}</a>
            <a ng-switch-when="more" ng-click="params.page(page.number)">&#8230;</a>
            <a ng-switch-when="last" ng-click="params.page(page.number)">{{page.number}}</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)"><i class="fa fa-angle-right"></i></a>
        </li>
        <li ng-class="{ disabled : params.page() === lastpage }" ng-if="lastpage > 5" title="Về cuối trang" class="hidden-768">
            <a ng-click="params.page(lastpage)"><i class="icon-double-angle-right smaller-90"></i></a>
        </li>
        <li class="disabled hidden-768">
          <a ng-show="lastpage > 2">Trang </a>  
            <input type="number" min="1" max="{{lastpage}}" style="width:42px; height:33px !important; float:left; border-radius:0px !important;margin:0"  ng-show="lastpage > 2" ng-model="curPage" ng-change="changePage(curPage)" />
          <a ng-show="lastpage > 2"> / {{lastpage > 2 ? lastpage : 1}}</a>
        </li>
    </ul>
</div>
