html,
body,
.container-fluid {
	height: 100%;
}

body {
	background: #bdc1c7;
	font-family: "Segoe UI";
}

*,
*:focus,
*:hover {
	outline: none !important;
}

a:-webkit-any-link {
	color: -webkit-link;
	text-decoration: none;
	cursor: pointer;
}

a {
	color: #73777c;
}

	a:hover,
	a:focus {
		color: #2a6496;
		text-decoration: none;
		cursor: pointer;
	}

img {
	border: 0;
	max-width: 100%;
}

button {
	overflow: hidden;
	cursor: pointer;
	border-radius: 2px;
	background: rgb(255, 255, 255);
	-moz-border-radius: 5px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 5px;
	color: #596571;
	border: medium none;
}

ul,
ol,
li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

input[type="text"] {
	border: medium none;
	width: 100%;
}

.c-white {
	color: #ffffff !important;
}

#navs-left-region,
#table-region,
#info-cash {
	padding-left: 5px;
	padding-right: 5px;
}

#header-pos {
	height: 60px;
}

#scanmenu-pos {
	height: 50px;
}

#content-pos {
	/*height: 500px;
	background-color: gold;*/
}

#footer-pos {
	height: 160px;
	width: 100%;
	vertical-align: middle;
	position: absolute;
	bottom: 25px;
}

#statusBar {
	height: 1%;
}

#navs-left-region {
	height: 100%;
}

.input-field {
	border: 1px solid rgba(95, 97, 100, 0.41) !important;
	height: 35px;
	padding: 5px 5px 2px 0;
	border-radius: 2px;
}

#cashBank {
}

	#cashBank > label {
		width: 100%;
		padding: 5px 0;
	}

.bank {
	width: 94px !important;
}

.right {
	text-align: right;
}
/*-- MAIN --*/

.main-pos .row {
	margin-bottom: 0;
}

#header-pos,
#scanmenu-pos {
	background: #ffffff;
}


/*--HEADER--*/

#logo-company,
#info-company,
#main-tabs {
	padding-left: 5px;
	padding-right: 0px;
}

#info-company,
#top-function,
#extra-funtion {
	padding-top: 10px;
}

.top-right {
	background-color: #36669B !important;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#top-function,
#extra-funtion {
	color: #FFFFFF;
	padding-top: 2px;
}

#logo-company img {
	width: 100%;
}

#info-company span {
	display: block;
	padding-bottom: 5px;
}

#top-function,
#extra-funtion {
	text-align: right;
}

	#top-function a,
	#extra-funtion a {
		padding-left: 10px;
		font-size: 1.5rem;
	}

.txt-title,
.txt-address {
	color: #369;
	font-weight: bold;
	font-size: 1.5rem;
}

.txt-address {
	color: #657380;
	font-size: 1.3rem;
	font-weight: lighter;
}

#info-cashier {
}

	#info-cashier p {
		margin: 0;
	}

.first-text {
	width: 80px;
	text-align: right;
	display: inline-block;
}


/*-- SCAN-MENU --*/

.navs-panel-right {
	background: none repeat scroll 55px 0 #336699;
	height: 100%;
	position: relative;
	border-radius: 5px 5px 0px 0px !important;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	float: left;
	width: 100%;
}

.navs-right {
	width: 88%;
	line-height: 30px;
	float: left;
	padding: 1px 0 0 1px;
}

.navs-left {
	width: 12%;
	float: left;
	/*padding: 10px 10px 0 0;*/
}


.scan-input-field {
	height: auto;
	margin: 0;
	position: relative;
	font-size: 16px;
	color: #788693;
}

	.scan-input-field input {
		border: 1px solid #FFFFFF;
		line-height: 30px;
		width: 100%;
		font-size: 1.5rem;
		padding-left: 5px;
		border-radius: 2px;
	}

	.scan-input-field span.find {
		cursor: pointer;
		height: 100%;
		overflow: hidden;
		position: absolute;
		right: 3px;
		width: 100px;
		top: 0px;
		border-top-right-radius: 2px !important;
		border-bottom-right-radius: 2px !important;
		border-left: 1px solid #336699;
		font-size: 2.5rem;
		text-align: center;
		line-height: 3.2rem;
	}

.scan-panel button {
	line-height: 3.2rem;
	margin-right: 8px;
	width: 70%;
}

.btn-navs-right-zone {
	width: 100% !important;
	height: 100% !important;
	line-height: 5px !important;
	right: 0;
	margin-right: 0 !important;
	font-size: 18px;
	color: #fff;
	background-color: #36669B;
}

.btn-navs-right-category {
	width: 100% !important;
	height: 100% !important;
	line-height: 5px !important;
	right: 0;
	margin-right: 0 !important;
	font-size: 18px;
	color: #fff;
	background-color: #36669B;
}


#menu-map {
	width: 100%;
	height: 50px;
	min-height: 50px;
	padding: 2px 0 2px 6px;
}

#main-tabs {
	padding-left: 0px;
	padding-right: 5px;
}

.tabs-top > ul {
	float: left;
	background: none;
	border: none;
	padding: 0px;
	width: 100%;
}

	.tabs-top > ul li {
		float: left;
		list-style: none outside none;
		width: 50%;
		text-align: center;
		padding-right: 5px;
	}

		.tabs-top > ul li.active a {
			background: none repeat scroll 0 0 #bdc1c7;
			color: #596571;
			height: 55px;
			margin: 0;
			text-transform: uppercase;
			height: 100% !important;
		}

		.tabs-top > ul li a {
			background: none repeat scroll 0 0 #336699;
			border-radius: 5px 5px 0 0;
			-moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			color: #ffffff;
			display: block;
			font-weight: bold;
			height: 50px;
			line-height: 55px;
			margin-top: 4px;
			padding: 0 20px;
			text-transform: uppercase;
			height: 90% !important;
		}


/*----*/
.screen-pos {
	background: #0076af !important;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;
	font-weight: 700;
}

	.screen-pos > [class*="col-"] {
		border-right: 1px solid #fff;
		height: 100%;
		padding-top: 15px;
	}

.screen-pos-row {
	min-height: 35px;
	font-size: 1.5rem;
	line-height: 4rem;
}

.screen-col-right {
	height: 100%;
	text-align: right;
}

	.screen-col-right .mark {
		font-weight: bold;
		font-size: 2rem;
		line-height: 4rem;
	}

	.screen-col-right .value {
		font-weight: bold;
		font-size: 5rem;
		line-height: 4rem;
	}

#screen-pos-footer {
	height: 100px;
	background: #ffffff;
	border-top: 1px solid #dadada;
	width: 100%;
	z-index: 9999;
	vertical-align: middle;
	position: absolute;
	bottom: 22px;
}

.table_list {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-khtml-border-radius: 0 0 3px 3px;
	clear: both;
	overflow: hidden;
	height: 100%;
}

.table_div {
	margin: 0px;
	position: relative;
	height: 100%;
}

	.table_div .table_header {
		padding-bottom: 10px;
		background: transparent;
		color: #596571;
	}

		.table_div .table_header.row div.col {
			float: left;
			font-size: 1.2rem;
			text-transform: uppercase;
			font-weight: bold;
		}

	.table_div .row div.col {
		border-color: #d5d5d5;
		border-style: solid;
		border-width: 0px;
		padding: 0;
	}

	.table_div .tbody {
		overflow-y: auto;
	}

		.table_div .tbody .row,
		.table_header .row {
			background: none repeat scroll 0 0 #FFFFFF;
			border-bottom: 1px dashed #cccccc;
			position: relative;
		}

		.table_div .tbody .row,
		.table_div .table_header {
			margin: 0;
		}

	.table_div .col-per-10 {
		width: 10%;
	}

	.table_div .tbody .row div.col:first-child {
		color: #999999;
	}

div.table_div .tbody div.row div.col {
	background: none repeat-x scroll left top #FFFFFF;
	min-height: 30px !important;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right !important;
}

#table-region {
	height: 100%;
	background-color: aquamarine;
}

#table_body {
	height: 100%;
}

#main-tabs {
	height: 100%;
}

.tabs-top,
.tabs-top ul,
.tabs-top ul li,
.tabs-top ul li a {
	height: 100%;
}

.layout-column {
	flex-direction: column;
	background-color: white;
}
/*TAB*/
.tabsdemoDynamicTabs md-content {
	background-color: transparent !important;
}

	.tabsdemoDynamicTabs md-content md-tabs {
		border: 1px solid #e1e1e1;
	}

		.tabsdemoDynamicTabs md-content md-tabs md-tab-content {
			background: #f6f6f6;
		}

		.tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
			background: white;
		}

	.tabsdemoDynamicTabs md-content h1:first-child {
		margin-top: 0;
	}

.tabsdemoDynamicTabs md-input-container {
	padding-bottom: 0;
}

.tabsdemoDynamicTabs .remove-tab {
	margin-bottom: 40px;
}

.tabsdemoDynamicTabs .demo-tab > div > div {
	padding: 25px;
	box-sizing: border-box;
}

.tabsdemoDynamicTabs .edit-form input {
	width: 100%;
}

.tabsdemoDynamicTabs md-tabs {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tabsdemoDynamicTabs md-tab[disabled] {
	opacity: 0.5;
}

.tabsdemoDynamicTabs label {
	text-align: left;
}

.tabsdemoDynamicTabs .long > input {
	width: 264px;
}

.tabsdemoDynamicTabs .md-button.add-tab {
	transform: translateY(5px);
}

/*-- SCROLLBAR --*/

::-webkit-scrollbar {
	z-index: 30;
	width: 0px;
}

::-webkit-scrollbar-track {
	background-color: #e6e5e5;
	border-right: 1px solid #c1c1c1;
}

::-webkit-scrollbar-thumb {
	background-color: #e6e5e5;
}

	::-webkit-scrollbar-thumb:hover {
		background-color: #2b2e33;
	}

::-webkit-scrollbar-track {
	border-radius: 0;
	box-shadow: none;
	border: 0;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	box-shadow: none;
	border: 0;
}


/*-- FOOTER --*/


#info-cash .col-xs-4 {
	padding-right: 10px;
}

#info-cash,
#info-cash .row,
.form-customer,
.form-function,
.form-total {
	height: 100%;
}

.form-total {
	background: #ffffff;
}

.form-customer .header {
	height: 20%;
}

.form-customer .container_box {
	height: 80%;
}

.form-customer .header .searchIcon {
	float: left;
	width: 86%;
}

.searchIcon input[type="text"] {
	padding: 5px;
}

.form-customer .header .buttons {
	float: right;
	height: 100%;
	width: 13%;
}

.cont_box {
	height: 100%;
}

.form-customer .header .buttons a {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 0 0;
	float: right;
	height: 100%;
	overflow: hidden;
	padding: 0 10px;
	width: 100%;
}

.form-total ul.count li span {
	float: right;
	color: #696969;
	font-weight: bold;
}

.i-search-add {
	line-height: 30px;
	font-size: 15px;
	height: 100%;
	color: #788693;
}

.form-function {
	padding-left: 10px;
}

#extra-function ul,
#extra-function ul li button {
	width: 100%;
	height: 100%;
	background: #336699;
	color: #fff;
}

	#extra-function ul li {
		float: left;
		height: 50%;
		width: 50%;
		background: #bdc1c7;
	}

		#extra-function ul li:nth-child(4n+1) {
			padding: 0 2px 2px 0;
		}

		#extra-function ul li:nth-child(4n+2) {
			padding: 0 0 2px 0;
		}

		#extra-function ul li:nth-child(4n+3) {
			padding: 0 2px 0 0;
		}

.form-function div:first-child {
	margin-bottom: 2px;
}

.icon-center {
	display: block;
	font-size: 2rem;
	line-height: 30px;
	width: 100%;
	text-align: center;
}

.b-function {
	text-align: center;
	height: 98%;
	cursor: pointer;
	border-radius: 2px;
	background: rgb(51, 102, 153);
	-moz-border-radius: 5px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 5px;
	color: #ffffff;
	width: 49%;
}

	.b-function span {
		overflow: hidden;
		font-size: 1.2rem;
	}

#function-region-footer {
	height: 15%;
	padding-left: 5px;
	padding-right: 5px;
}

.group-cash {
	width: 100%;
	height: 100%;
}

	.group-cash .top {
		height: 30%;
	}

	.group-cash .bottom {
		height: 70%;
	}

	.group-cash .top button {
		font-size: 1.7rem;
		margin: 0;
		padding: 0;
		padding-left: 10px;
		float: left;
		color: #fff;
		border-radius: 0;
		height: 100%;
	}

		.group-cash .top button:first-child {
			width: 75%;
			background: #f58e1f !important;
			border-right: 1px solid #ffffff;
			border-top-left-radius: 2px;
		}

		.group-cash .top button:last-child {
			width: 25%;
			background: #bb3c39 !important;
			border-top-right-radius: 2px;
		}

	.group-cash .bottom button {
		border-top: 1px solid #ffffff;
		width: 100%;
		height: 100%;
		border-radius: 0;
		background: #138870;
		color: #fff;
		font-size: 3.5rem;
		font-weight: bold;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
	}

.alphablet {
	width: 100%;
	height: 100%;
	padding-top: 10px;
}

	.alphablet .f-top {
		height: 75%;
		margin-bottom: -3px;
	}

	.alphablet .f-bottom {
		height: 24%;
		margin-top: 5px;
	}

.f-top button {
	height: 18.5%;
	width: 9.2%;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 1.8rem;
}

.f-bottom button {
	height: 49%;
	margin-bottom: 4px;
	font-size: 1.7rem;
}

.btn-w-p14 {
	width: 14% !important;
}

.btn-w-p50 {
	width: 49.45% !important;
}

.btn-w-p25 {
	width: 24.15% !important;
}

.btn-w-p100 {
	width: 99.4% !important;
}


/**/

#function-region {
	background-color: cornflowerblue;
	padding-left: 0;
	padding-right: 10px;
	height: 100%;
}

.row-no-padding > [class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: 100%;
}

/**/

#product-menu {
	height: 100%;
}

#portfolio {
	display: block;
	overflow: auto;
	height: 100%;
	padding-top: 10px;
}

	#portfolio li {
		display: block;
		float: left;
		width: 20%;
		max-width: 151.5px;
		margin: 0px 5px 5px 0;
	}

		#portfolio li a {
			display: block;
			padding: 5px;
			background: #fefefe;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
			-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
			box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
			text-align: center;
			margin-bottom: 0;
		}

			#portfolio li a p {
				margin: 0;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				text-align: center;
				color: #73777c;
			}


/*--*/

#statusBar {
	height: 22px;
	width: 100%;
	border-top: 1px solid #dadada;
	z-index: 9999;
	background: #fcfcfc;
	vertical-align: middle;
	position: fixed;
	bottom: 0;
}

	#statusBar [class*="col-"] {
		height: 100%;
		padding: 0px;
	}

	#statusBar img {
		padding-left: 5px;
		width: 20px;
	}

	#statusBar span,
	#statusBar ul {
		color: #3e444a;
		font-size: 1.2rem;
	}

		#statusBar ul > li {
			padding-right: 10px;
		}

	#statusBar ul {
	}


button.act_btn, button.act_btn_small, button.act_btn_big, button.act_btn_large {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	float: none;
	height: 40px;
	line-height: normal;
	overflow: hidden;
	padding: 0;
	max-width: 400px;
	margin: 5px;
	width: 150px;
	background-color: #768791;
}

	button.act_btn > span > span > span {
		display: block;
		font-size: 1.5rem;
		font-weight: normal;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		-khtml-border-radius: 4px;
		color: #fff;
		height: 1.5rem;
		line-height: 1.5rem;
	}

.txt_center {
	text-align: center;
}

.dotted-line {
	border-top: dashed 1px #ccc;
	margin: 5px 0px;
}

.modal-body {
	position: relative;
	padding: 5px;
	background: #bdc1c7;
}

.pos-cashregisters-container .active {
	background: #f68e1f;
}



.func-item {
	display: flex;
	flex: 1 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
	font-size: 1.5rem;
	background: #788693;
	color: #ffffff !important;
	border-bottom: 1px solid #ffffff;
	padding: 5px;
}

	.func-item:last-child {
		border-bottom: none;
	}

	.func-item > i {
		display: flex;
		padding: 5px;
		font-size: 2.5rem;
	}

	.func-item.active {
		background: #3077b9;
	}

	.func-item:hover {
		background: #4c83b7;
	}

.list-group-item {
	position: relative;
	display: block;
	padding: 10px 0;
	margin-bottom: 0px;
	background-color: transparent;
	border: medium none;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: transparent;
	border-color: transparent !important;
}

div.list-group > a, div.list-group > a .fa {
	background: #788693 !important;
	color: #fff;
	font-size: 1.5rem;
}

div.list-group > a {
	border-bottom: 1px solid #c8cdd2;
}

.list-group-item:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.list-group-item:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

div.list-group > a.active, div.list-group > a.active, div.list-group > a.active .fa {
	background-color: #3077b9 !important;
	color: #ffffff;
}

div.list-group > a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}

a.list-group-item.active, a.list-group-item.active:focus {
	z-index: 2;
	background-color: transparent;
}

div.list-group > a :hover {
	background-color: blue;
}

div.list-group > a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #3077b9;
}

.list-item {
	max-height: 315px;
}

	.list-item ul {
		font-size: 0.8rem;
		color: #767676;
	}

		.list-item ul li {
			clear: both;
			display: block;
			margin-top: 5px;
			padding: 0 6px;
		}

			.list-item ul li label {
				width: 49% !important;
				color: #5E5E5E;
				float: left;
				font-size: 1.2rem;
			}

			.list-item ul li span.right {
				color: #4C4C4C;
				float: left;
				font-weight: bold;
				text-align: right;
				overflow: visible;
				width: 50%;
				font-size: 1.2rem;
				position: relative;
			}

.hide {
	display: none;
}

.show {
	display: block;
}

.b-active {
	box-shadow: 2px 2px 2px #336699 !important;
}

div#payment-dtls ul {
	font-size: 1.2rem;
}

	div#payment-dtls ul li {
		clear: both;
		display: block;
		margin-top: 12px;
		padding: 0 6px;
	}

		div#payment-dtls ul li label {
			font-size: 15px;
			width: 45% !important;
			color: #5E5E5E;
			float: left;
			font-weight: normal;
		}

		div#payment-dtls ul li span.paymentline-amount {
			color: #4C4C4C;
			float: left;
			font-size: 13px;
			font-weight: bold;
			text-align: right;
			overflow: visible;
			width: 109px;
			position: relative;
		}

		div#payment-dtls ul li.total label, div#payment-dtls ul li.total span {
			font-size: 16px;
			font-weight: bold;
		}

		div#payment-dtls ul li.total-paid label, div#payment-dtls ul li.total-paid span {
			font-size: 2rem;
			font-weight: bold;
		}

		div#payment-dtls ul li.paymentlines .paymentline span.paymentline-amount {
			background: none repeat scroll 0 0 #FFFFFF;
			border: 1px solid #CCCCCC;
			border-radius: 5px 5px 5px 5px;
		}

		div#payment-dtls ul li span.paymentline-amount {
			color: #4C4C4C;
			float: left;
			font-size: 13px;
			font-weight: bold;
			text-align: right;
			overflow: visible;
			width: 50%;
			position: relative;
		}

		div#payment-dtls ul li.paymentlines .paymentline span.paymentline-amount input, div#payment-dtls ul li.paymentlines .paymentline span.paymentline-amount input:focus {
			border: medium none !important;
			float: right;
			line-height: 20px;
			padding: 6px 5px;
			text-align: right;
			background: none;
			width: 95px;
		}

		div#payment-dtls ul li.paymentlines .paymentline span.paymentline-amount a {
			color: #f68e1f;
			height: 35px !important;
			position: absolute;
			width: 20px !important;
			font-size: 1.5rem;
			line-height: 3.2rem;
		}

a.delete-payment-line {
	margin: 0px;
}

div#payment-dtls ul li.change label, div#payment-dtls ul li.change span {
	font-size: 1.5rem !important;
	font-weight: bold;
}


.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.flex-warp, .item-header, .item-body, .item-footer {
	display: flex;
}

/*@media (min-width: 992px) {
    .modal-lg {
        width: 1080px;
    }
}*/

.item-panel {
	display: flex;
	margin: 5px;
	max-height: 400px;
	flex: 1;
}


.item-1 {
	flex: 1 0;
}

.item-2 {
	flex: 2 0;
}


.item-3 {
	flex: 3 0;
}

.item-4 {
	flex: 4 0;
}

.item-5 {
	flex: 5 0;
}

.item-6 {
	flex: 6 0;
}

.item-7 {
	flex: 7 0;
}

.item-8 {
	flex: 8 0;
}

.item-body {
	flex: 3 0px;
}


.item-left {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
}

.item-right {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}

.item-button-delete {
	color: #ffffff;
	font-size: 1.5rem;
	padding: 0 5px 0 10px;
}

.flex-list {
	display: flex;
	height: inherit;
	overflow-y: scroll;
	padding: 5px;
}

	.flex-list.wrap {
		flex-flow: row wrap;
	}

.item-list {
	display: flex;
	height: 40px;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
}

	.item-list.active {
		background: #138870;
		color: #ffffff;
	}

.item-cash-input {
	height: 30px;
	border: none;
	text-align: right;
	color: #596571;
	padding: 0 5px;
	font-size: 1.5rem;
	width: 100%;
}

	.item-cash-input.active {
		color: #138870;
		font-weight: bold;
	}

.flex-item {
	color: #333740;
	text-align: center;
	width: 53px;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	border-right: 1px solid #bdc1c7;
	border-bottom: 1px solid #bdc1c7;
}

.currency-item {
	color: #333740;
	text-align: center;
	width: 100%;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7rem;
	border-right: 1px solid #bdc1c7;
	border-bottom: 1px solid #bdc1c7;
}

	.currency-item.active {
		background: #f58e1f;
		font-size: 2rem;
		font-weight: bold;
	}

	.currency-item.random {
		width: 50%;
		background: #138870;
	}

	.currency-item > a {
		color: #ffffff;
		display: flex;
		flex: 1;
		align-items: center;
		height: 100%;
		justify-content: center;
	}

		.currency-item > a:hover {
			color: #ffffff;
		}

		.currency-item > a:active {
			color: #ffffff;
		}

.flex-item.double {
	height: 106px;
}

.sum-total {
	font-size: 1.5rem;
	font-weight: bold;
	color: #3077b9;
}

.title-form {
	color: #596571;
	font-weight: bold;
}

.numpad-mini {
	display: flex;
	background: #ffffff;
	margin: 0 auto;
	margin-right: 10px;
	flex-direction: column;
}

.num-area {
	display: flex;
	flex-wrap: wrap;
}

	.num-area.fisrt {
		width: 75%;
	}

	.num-area.secord {
		width: 25%;
	}

	.num-area.full {
		width: 100% !important;
	}

.num-item-full {
	color: #596571;
	text-align: center;
	width: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	border: 1px solid #bdc1c7;
}

.num-item-enter {
	color: #596571;
	text-align: center;
	width: 99%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	border: 1px solid #bdc1c7;
}


.num-item {
	color: #596571;
	text-align: center;
	width: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	border-bottom: 1px solid #bdc1c7;
	border-right: 1px solid #bdc1c7;
}

	.num-item > .red {
		color: #bb3c39;
	}

	.num-item.no-border-bottom {
		border-bottom: 0;
	}

	.num-item.large {
		width: 100%;
		border-right: 0;
	}

div#payment-dtls ul li.total-paid {
	border-bottom: 1px dashed #CCCCCC;
	padding-bottom: 5px;
}

.modal-dialog {
	margin-top: 5% !important;
	z-index: 10000;
}

.item-header, .item-footer {
	align-items: center;
	min-height: 45px;
	padding: 5px;
	margin: 0 5px;
}

.item-header {
	border-bottom: 1px solid #dcdcdc;
}

.item-footer {
	border-top: 1px solid #dcdcdc;
}

.item-upper {
	text-transform: uppercase;
}

.bg-warning {
	background: #f68e1f !important;
}

#cash_payment {
}

#paymentbtns {
	text-align: center;
}

	#paymentbtns .buttons {
		margin: 5px 10px;
	}

button.act_btn.light > span > span > span {
	background: #707e89;
}

#change button {
	background: none repeat scroll 0 0 #768791;
	border: medium none;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	font-weight: normal;
	padding: 2px;
}

	#change button span {
		border: 1px solid #FFFFFF;
		border-radius: 30px !important;
		-moz-border-radius: 30px;
		-webkit-border-radius: 30px;
		-khtml-border-radius: 30px;
		color: #f5f5f5;
		display: block;
		height: 40px;
		line-height: 40px;
		width: 40px;
	}



/*--*/
.faq {
	display: block;
	vertical-align: top;
	height: auto !important;
}

	.faq ul li {
		float: left;
		height: auto;
		width: 100%;
		line-height: 20px;
		margin-bottom: 5px;
	}

		.faq ul li div {
			display: none;
		}

			.faq ul li div:first-child {
				display: block;
			}

			.faq ul li div:target {
				display: block;
			}

.form-style-2 {
	padding: 5px 0px 5px 0px;
	font-size: 1rem;
}

.form-style-2-heading {
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
	font-size: 1.2rem;
	padding-bottom: 3px;
}

	.form-style-2-heading a {
		color: #5e5e5e;
	}

.form-style-2 label {
	display: block;
	margin: 0px 0px 15px 0px;
	color: #5e5e5e;
}

	.form-style-2 label > span {
		width: 100px;
		float: left;
		padding-top: 8px;
		padding-right: 5px;
		font-size: 1.2rem;
		color: #666;
	}

.form-style-2 span.required {
	color: red;
}

.form-style-2 .tel-number-field {
	width: 15%;
	text-align: center;
}

.form-style-2 input.input-field, .select-field {
	width: 70%;
}

.number {
	text-align: right;
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
	font-size: 1.2rem;
}

	.form-style-2 .input-field:focus,
	.form-style-2 .tel-number-field:focus,
	.form-style-2 .textarea-field:focus,
	.form-style-2 .select-field:focus {
		border: 1px solid #0C0;
	}

.form-style-2 .textarea-field {
	height: 100px;
	width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

	.form-style-2 input[type=submit]:hover,
	.form-style-2 input[type=button]:hover {
		background: #EA7B00;
		color: #fff;
	}

.syncCount {
	position: absolute !important;
	top: 10px !important;
	border-radius: 10px !important;
	padding: 2px 4px;
	right: 147px;
}

.offline {
	position: absolute !important;
	top: 7px !important;
	border-radius: 10px !important;
	padding: 2px 4px;
	right: 55px;
}

.b-al-a {
	margin-left: 22px;
}
/**RESPONSIVE*/

@media screen and (min-width: 1440px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1366px) {
	.btn-w-p50 {
		width: 49% !important;
	}

	.screen-pos {
		font-size: 1.3rem;
		text-transform: uppercase;
	}

		.screen-pos > [class*="col-"] {
			padding: 0;
			text-align: center;
			padding-top: 15px;
		}

	.screen-pos-row {
		min-height: 30px;
		font-size: 1.5rem;
		line-height: 3rem;
	}

	.screen-col-right .mark {
		font-size: 1.7rem;
	}

	.screen-col-right .value {
		font-size: 4rem;
	}

	.form-customer .header .searchIcon {
		float: left;
		width: 86%;
	}

	.form-customer .header .buttons {
		width: 13%;
	}

	.f-top button {
		height: 4.4rem;
		width: 9.1%;
		padding: 5px;
		margin-bottom: 5px;
		font-size: 1.8rem;
	}

	.alphablet .f-bottom {
		height: 25%;
		margin-top: 2px;
	}

	.numpad .left-numpad button, .numpad .right-numpad button {
		width: 31%;
		height: 22.9%;
		margin: 0px 7px 7px 0;
	}

	.numpad .right-numpad button {
		width: 100%;
	}

	.numpad .enter {
		width: 96.9% !important;
	}

	.angucomplete-dropdown {
		width: 92%;
		cursor: pointer;
		z-index: 9999;
		position: absolute;
		margin-top: 1px;
		background-color: #ffffff;
		max-height: 265px;
		overflow-y: scroll;
		border: 1px solid #369;
	}

	#portfolio li {
		display: block;
		float: left;
		width: 32%;
		max-width: 151.5px;
		margin: 0px 5px 5px 0;
	}

	.f-top button {
		width: 8.9%;
		height: 18.4%;
	}

	.btn-w-p25 {
		width: 24% !important;
	}

	.b-al-a {
		margin-left: 16px !important;
	}
}

@media screen and (max-width: 1280px) {
	#header-pos, #scanmenu-pos {
		height: 57px;
	}

	.screen-pos {
		font-size: 1.3rem;
		text-transform: uppercase;
	}

		.screen-pos > [class*="col-"] {
			padding: 0;
			text-align: center;
			padding-top: 15px;
		}

	.screen-pos-row {
		font-size: 1.5rem;
		line-height: 3rem;
	}

	.screen-col-right .mark {
		font-size: 1.7rem;
	}

	.screen-col-right .value {
		font-size: 4rem;
	}

	#info-company {
		padding-top: 12px !important;
	}

	#top-function, #extra-funtion {
		padding-top: 14px !important;
	}

	#info-company span {
		padding-bottom: 0 !important;
	}

	.txt-title, .txt-address {
		font-size: 1.2rem;
	}

	#info-cashier, #top-function a, #extra-funtion a, .f-18 {
		padding: 0;
		font-size: 1.2rem !important;
	}

	.form-scan {
		width: 60%;
		padding: 8px 0 0 8px;
	}

	.btn-scan {
		width: 40%;
		padding: 8px 8px 0 10px;
	}

	.scan-input-field input {
		line-height: 32px;
	}

	.tabs-top > ul li a {
		padding: 0 !important;
	}

	.table_div .table_header.row div.col {
		font-size: 1.1rem;
	}

	.syncCount {
		top: 5px !important;
		right: 120px;
	}

	.numpad .left-numpad button, .numpad .right-numpad button {
		width: 30.9%;
		height: 23%;
	}

	.numpad .right-numpad button {
		width: 100%;
	}

	.numpad .enter {
		width: 96.9% !important;
	}

	#portfolio li {
		width: 31.8%;
	}

	div.table_div .tbody div.row div.col {
		font-size: 1.3rem;
		line-height: 3rem;
	}

	.form-customer .header .searchIcon {
		width: 86.5%;
	}

	.form-customer .header .buttons {
		width: 13%;
	}

	.f-top button {
		width: 8.9%;
		height: 18.2%;
	}

	.btn-w-p25 {
		width: 24% !important;
	}

	.b-al-a {
		margin-left: 16px !important;
	}
}

@media screen and (max-width: 1152px) {
	#header-pos, #scanmenu-pos {
		height: 50px;
	}

	.screen-pos {
		font-size: 1.3rem;
		text-transform: uppercase;
	}

		.screen-pos > [class*="col-"] {
			padding: 0;
			text-align: center;
			padding-top: 15px;
		}

	.screen-pos-row {
		font-size: 1.5rem;
		line-height: 3rem;
	}

	.screen-col-right .mark {
		font-size: 1.7rem;
	}

	.screen-col-right .value {
		font-size: 4rem;
	}

	#logo-company, #info-company {
		padding: 5px 0 0 5px;
	}

	#info-company {
		padding-top: 12px !important;
	}

	#top-function, #extra-funtion {
		padding-top: 14px !important;
	}

	#info-company span {
		padding-bottom: 0 !important;
	}

	.txt-title, .txt-address {
		font-size: 1.2rem;
	}

	#info-cashier, #top-function a, #extra-funtion a, .f-18 {
		padding: 0;
		font-size: 1.2rem !important;
	}

	.form-scan {
		width: 60%;
		padding: 8px 0 0 8px;
	}

	.btn-scan {
		width: 40%;
		padding: 8px 8px 0 10px;
	}

	.scan-input-field input {
		line-height: 32px;
	}

	.tabs-top > ul li a {
		padding: 0 !important;
	}

	.table_div .table_header.row div.col {
		font-size: 1.1rem;
	}

	.syncCount {
		top: 5px !important;
		right: 120px;
	}

	.numpad .left-numpad button, .numpad .right-numpad button {
		width: 30.3%;
		height: 22.5%;
	}

	.numpad .right-numpad button {
		width: 100%;
	}

	.numpad .enter {
		width: 96.9% !important;
	}

	#portfolio li {
		width: 31.8%;
	}

	div.table_div .tbody div.row div.col {
		min-height: 0;
		font-size: 1.2rem;
	}

	.form-customer .header .searchIcon {
		width: 82.5%;
	}

	.form-customer .header .buttons {
		width: 17%;
	}

	.f-top button {
		width: 8.9%;
		height: 18.4%;
	}

	.btn-w-p25 {
		width: 24% !important;
	}

	.b-al-a {
		margin-left: 16px !important;
	}
}


@media screen and (max-width: 1024px) {
	#header-pos, #scanmenu-pos {
		height: 50px;
	}

	.screen-pos {
		font-size: 1.3rem;
		text-transform: uppercase;
	}

		.screen-pos > [class*="col-"] {
			padding: 0;
			text-align: center;
			padding-top: 15px;
		}

	.screen-pos-row {
		font-size: 1.2rem;
		line-height: 3rem;
	}

	.screen-col-right .mark {
		font-size: 1.7rem;
	}

	.screen-col-right .value {
		font-size: 4rem;
	}

	#logo-company, #info-company {
		padding: 5px 0 0 5px;
	}

	#info-company {
		padding-top: 12px !important;
	}

	#top-function, #extra-funtion {
		padding-top: 14px !important;
	}

	#info-company span {
		padding-bottom: 0 !important;
	}

	.txt-title, .txt-address {
		font-size: 1.2rem;
	}

	#info-cashier, #top-function a, #extra-funtion a, .f-18 {
		padding: 0;
		font-size: 1.2rem !important;
	}

	.form-scan {
		width: 60%;
		padding: 8px 0 0 8px;
	}

	.btn-scan {
		width: 40%;
		padding: 8px 8px 0 10px;
	}

	.scan-input-field input {
		line-height: 32px;
	}

	.tabs-top > ul li a {
		padding: 0 !important;
	}

	.table_div .table_header.row div.col {
		font-size: 1.1rem;
	}

	.syncCount {
		top: 5px !important;
		right: 120px;
	}

	.numpad .left-numpad button, .numpad .right-numpad button {
		width: 30.3%;
		height: 22.5%;
	}

	.numpad .right-numpad button {
		width: 100%;
	}

	.numpad .enter {
		width: 96.9% !important;
	}

	#portfolio li {
		width: 31.8%;
	}

	div.table_div .tbody div.row div.col {
		min-height: 0;
		font-size: 1.2rem;
	}

	.form-customer .header .searchIcon {
		width: 82.5%;
	}

	.form-customer .header .buttons {
		width: 17%;
	}

	.f-top button {
		width: 8.9%;
		height: 18.2%;
	}

	.btn-w-p25 {
		width: 24% !important;
	}

	.b-al-a {
		margin-left: 16px !important;
	}
}
