.barcode.code128 {
    float: left;
    height: 100%;
    /*min-height: 10px;*/
}
.barcode.code128 > div.b {
    background: none repeat scroll 0 0 #000000;
    float: left;
    height: 100%;
}
.barcode.code128 > div.w {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 100%;
}
.barcode.code128 .w20 {
    width: 20px;
}
.barcode.code128 .w1 {
    width: 1px;
}
.barcode.code128 .w2 {
    width: 2px;
}
.barcode.code128 .w3 {
    width: 3px;
}
.barcode.code128 .w4 {
    width: 4px;
}
.barcode.code128 .w5 {
    width: 5px;
}
.barcode.code128 .w6 {
    width: 6px;
}
.barcode.code128 .w7 {
    width: 7px;
}
.barcode.code128 .w8 {
    width: 8px;
}
.barcode.code128 .w9 {
    width: 9px;
}
.barcode.code128 .w10 {
    width: 10px;
}
.barcode.code128 .b1 {
    width: 1px;
}
.barcode.code128 .b2 {
    width: 2px;
}
.barcode.code128 .b3 {
    width: 3px;
}
.barcode.code128 .b4 {
    width: 4px;
}
.barcode.code128 .b5 {
    width: 5px;
}
.barcode.code128 .b6 {
    width: 6px;
}
.barcode.code128 .b7 {
    width: 7px;
}
.barcode.code128 .b8 {
    width: 8px;
}
.barcode.code128 .b9 {
    width: 9px;
}
.barcode.code128 .b10 {
    width: 10px;
}



@media print {
/*custom page print*/
@page {
    /*size: 197mm 210mm;*/
    /*size: 80mm 110mm;*/
    /*margin-top:15mm;
    margin-left:5mm;
    margin-right:5mm;*/
    /*margin: 10mm;
    margin-right: 145mm;*/
    /*margin-top:-15mm;
    margin-left:-5mm;
     margin-right:-5mm;*/
    size: 8cm auto;
    width: 8cm; 
    height: 100%;
    margin: 0;
    margin-left: 5px !important;
}

.barcode.code128 {
    float: left;
    /*height: 50px;*/
    min-height: 20px;
}
.barcode.code128 > div.b {
/*    background: none repeat scroll 0 0 #000000;*/
	border-color: #000000;
    float: left;
    height: 100%;
	font-size:0px;
	width: 0;
}
.barcode.code128 > div.w {
	float: left; 
	font-size: 0px; 
	background-color: #FFFFFF;
    min-height: 20px;
}
.barcode.code128 .w20 {
    width: 20px;
}
.barcode.code128 .w1 {
    width: 1px;
}
.barcode.code128 .w2 {
    width: 2px;
}
.barcode.code128 .w3 {
    width: 3px;
}
.barcode.code128 .w4 {
    width: 4px;
}
.barcode.code128 .w5 {
    width: 5px;
}
.barcode.code128 .w6 {
    width: 6px;
}
.barcode.code128 .w7 {
    width: 7px;
}
.barcode.code128 .w8 {
    width: 8px;
}
.barcode.code128 .w9 {
    width: 9px;
}
.barcode.code128 .w10 {
    width: 10px;
}
.barcode.code128 .b1 {
	border-left: 1px solid;
}
.barcode.code128 .b2 {
	border-left: 2px solid;
}
.barcode.code128 .b3 {
	border-left: 3px solid;
}
.barcode.code128 .b4 {
	border-left: 4px solid;
}
.barcode.code128 .b5 {
	border-left: 5px solid;
}
.barcode.code128 .b6 {
	border-left: 6px solid;
}
.barcode.code128 .b7 {
	border-left: 7px solid;
}
.barcode.code128 .b8 {
	border-left: 8px solid;
}
.barcode.code128 .b9 {
	border-left: 9px solid;
}
.barcode.code128 .b10 {
	border-left: 10px solid;
}
}